.main {
    padding: 30px 5% 0;
}
.mycvphoto {
   width: 100%;
    min-height: 235px;
}
.name {
    font-size: 24px;
    margin-top: 0;
}
.aboutme p {
    margin: 0;
}
.prof {
    padding-bottom: 20px;
}
p img {
    margin-right: 10px;
}
.coord {
    padding-left: 28px;
}
.aboutme-text {
    padding-top: 20px;
}
.top-content, .center-content {
    min-height: 300px;
    border-bottom: 2px solid lightgray;
}
.flex-content {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 0;
}
h2 {
    color:#f25f43;
    font-size: 24px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
.subprof {
    font-size: 16px;
    color:#999e9b;
}
.bottom-content {
    padding-bottom: 60px;
}
li p:first-child {
    font-size: 14px;
    font-weight: bold;
}
